/*全局样式*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    list-style: none;
    font-family: OneNikeCurrency, 'TradeGothicW01-BoldCn20 675334', Helvetica, Arial, 'Heiti SC', 'ST Heiti', 华文黑体, 'Microsoft YaHei', 雅黑体, SimHei, 黑体, sans-serif;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    background: #eaeff3;
    height: 100%;
}

ul, li {
    /*list-style-type: none;*/
}

a, input {
    outline: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

canvas {
    width: 100%;
    border: 1px solid #000000;
}

input, button, select, textarea {
    outline: none;
    -webkit-appearance: none;
}
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px white inset;
}
hr {
    border: 0.5px solid #f0f0f0;
    margin-top: 16px;
}
::-webkit-input-placeholder { /* WebKit browsers */
    color: #9292a5;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #9292a5;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #9292a5;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: #9292a5;
}

/*#preload-01 { background: url(../html5/scb/img/bg.png) no-repeat -9999px -9999px; }*/
/*#preload-02 { background: url(../html5/scb/img/a2.png) no-repeat -9999px -9999px; }*/
/*#preload-03 { background: url(../html5/scb/img/a3.png) no-repeat -9999px -9999px; }*/
/*清除浮动*/
.clear {
    zoom: 1;
}

.clear:after {
    content: '';
    display: block;
    clear: both;
}

.fl {
    float: left;
}

.fr {
    float: right;
}
/*清除背景颜色*/
#clearBackground {
    background: #ffffff;
}

.clearBackground {
    background: #ffffff;
}
/*全局样式结束*/
.productList {
     box-sizing: border-box;
     -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     width: 100%;
    height: 95px;
    border-bottom: 1px solid #f3f3f3;
    border-top: none;
    border-left: none;
    border-right: none;
     background-color: #ffffff;
    position: relative;
 }

.img-person {
    position: absolute;
    top: 0;
    right: 0;
    width: 41px;
    height: 41px;
    background: url("../img/person.png");
    background-size: 100%;
}
.productLeft {
    margin: 18px 0 0 15px;
    width: 58px;
    height: 58px;
    border: 1px solid #e6e6e6;
    text-align: center;
    line-height: 58px;
}

.productLeft img {
    width: 100%;
    height: 100%;
}
.productRight {
    width: calc(100% - 73px);
}
.productCenter {
    margin-left: 15px;
    height: 20px;
    padding: 1px 0 0 0;
    position: relative;
}

.productP4 {
    font-size: 12px;
    height: 22px;
    line-height: 22px;
    text-align: right;
    margin-right: 15px;
    position: absolute;
    right: 0;
}

.productP1 {
    margin-left: 15px;
    margin-top: 18px;
    height: 19px;
    line-height: 19px;
    font-size: 16px;
    color: #4c4c4c;
}

.productP2 {
    height: 20px;
    line-height: 20px;
    font-size: 12px;
    color: #9292a5;
    position: absolute;
    left: 0;
}

.productP3 {
    border: none;
    display: inline-block;
    position: absolute;
    left: 0;
}

.productP5 {
    margin-right: 15px;
    boder: none;
    display: inline-block;
    position: absolute;
    right: 0;
    color: #acacba;
    font-size: 10px;
}

.productP3 > p {
    vertical-align: top;
    display: inline-block;
    height: 16px;
    line-height: 12px;
    font-size: 10px;
    padding: 1px 2px;
}

.productSpan1 {
    border: 1px solid #a8c5f3;
    color: #7373A1;
}

.productSpan2 {
    border: 1px solid #fbb3bc;
    color: #F96879;
}
.productSpan3 {
    border: 1px solid #c0d7a6;
    color: #3D974C;
}

.detailDescribe{
    display: block;
    height: 18px;
    border: none;
    width: 100%;
    padding-right: 15px;
    font-size: 14px;
    line-height: 18px;
    resize: none;
    overflow: hidden;
    max-height: 100px;
}
.productDefinitions{
    padding: 10px 26px;
    line-height: 26px;
    color: #888888;
    font-size: 14px;
    background: #ffffff;
}
.productFeature{
    padding:16px 26px;
    background: #f4f8fb;
}
.productFeature p{
    font-size: 16px;
    line-height: 28px;
    height: 28px;
    color: #4c4c4c;
}

.productFeatureList li{
    color:#888;
    line-height:20px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 14px;
    list-style: none;
}

.apply{
    padding:16px 26px 74px;
    background: #ffffff;
}
.apply p{
    font-size: 16px;
    line-height: 28px;
    height: 28px;
    color: #4c4c4c;
}
.applyList{
    color: #888888;
    padding-left: 20px;
}

.applyList li{
    color: #888888;
    line-height: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 14px;
}
.singleButtonFixed {
    width: 60%;
    height: 45px;
    font-size: 18px;
    background: linear-gradient(45deg, #8898EB, #6045BB);
    background: -webkit-linear-gradient(45deg, #8898EB, #6045BB);
    position: fixed;
    bottom: 15px;
    margin-left: 20%;
    border-radius: 26px;
    text-align: center;
    color: #fff;
    line-height: 38px;
    letter-spacing: 2px;
    box-shadow: 0 8px 8px #ccc;
    cursor: pointer;
    border: none;
    opacity: 0.95;
}
/*apply.html*/
.applyHeader {
    width: 100%;
    height: 93px;
    background: url('../img/zrh.png') no-repeat -33px -199px;
}
.applyHeaderP1 {
    font-size: 14px;
    color: #ffffff;
    padding-top: 26px;
    padding-left: 5%;
    padding-bottom: 5px;
}

.applyHeaderP2 {
    font-size: 14px;
    color: #ffffff;
    padding-left: 5%;
}
.applyContent {
    background: #fff;
    width: 100%;
    height: 68px;
    padding-top: 10px;
    padding-left: 15px;
    position: relative;
    /*border-bottom: 1px solid #e0e0e0;*/
    box-sizing: border-box;
}
.img-list {
    position: relative;
    display: inline-block;
    margin-top: 14px;
    margin-right: 15px;
}

.img-list img {
    border: 0;
    z-index: 3;
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 6px;
}

.redPoint {
    position: absolute;
    top: -8px;
    right: -8px;
    /*padding-top: 8px;*/
    z-index: 100;
    width: 16px;
    height: 16px;
    border-radius: 100%;
    border: none;
    background: #f97383;
    cursor: pointer;
}

.redPointInner {
    margin: 7px auto 0;
    width: 10px;
    height: 2px;
    border-radius: 1px;
    background: #ffffff;
}

.applyContentSpan{
    line-height: 25px;
    display: inline-block;
    font-size: 16px;
    color: #4c4c4c;
}

.applyContentP {
    line-height: 25px;
    font-size: 16px;
    color: #4c4c4c;
}
.fontColor{
    color: #9292a5;
}
.applyContent input{
    width: 90%;
    height: 28px;
    border: none;
    font-size: 16px;
    line-height: 28px;
}
.singleButton1 {
    width: 60%;
    height: 45px;
    font-size: 18px;
    background: linear-gradient(45deg, #8898EB, #6045BB);
    background: -webkit-linear-gradient(45deg, #8898EB, #6045BB);
    margin-left: 20%;
    margin-top: 12px;
    border-radius: 26px;
    text-align: center;
    color: #fff;
    line-height: 38px;
    letter-spacing: 2px;
    box-shadow: 0 8px 8px #ccc;
    cursor: pointer;
    border: none;
}
.singleButton2{
    box-shadow: none;
    transform:translate(0,4px)

}

.singleButtonGrew {
    width: 60%;
    height: 45px;
    font-size: 18px;
    position: absolute;
    bottom: 15px;
    margin-left: 20%;
    border-radius: 26px;
    text-align: center;
    color: #fff;
    line-height: 38px;
    letter-spacing: 2px;
    cursor: pointer;
    border: none;
}

.alertApply{
    display: none;
    width: 66%;
    height: 164px;
    position: absolute;
    top: 180px;
    left: 17%;
    background:linear-gradient(45deg,#6B72DB,#766DC4);
    background:-webkit-linear-gradient(45deg,#6B72DB,#766DC4);
    z-index: 100;
    border-radius: 5px;
}

.alertCenterSubmit {
    display: none;
    width: 50%;
    height: 130px;
    position: fixed;
    top: 180px;
    left: 25%;
    background: linear-gradient(45deg, #6B72DB, #766DC4);
    background: -webkit-linear-gradient(45deg, #6B72DB, #766DC4);
    z-index: 100;
    border-radius: 5px;
}
.alertImg{
    background: url("../img/zrh.png")no-repeat -310px -42px;
    width: 60px;
    height: 60px;
    margin: 21px 98px 0;
}

.alertImg1 {
    background: url("../img/submitSuccess.png") no-repeat;
    width: 60px;
    height: 60px;
    margin: 21px 65px 0;
}
.alertText{
    font-weight: 400;
    margin-top: 8px;
    font-size: 16px;
    line-height: 28px;
    color: #ffffff;
    text-align: center;
}
.alertText1 {
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    color: #ffffff;
    text-align: center;
}
.alertText2 {
    font-weight: 400;
    font-size: 14px;
    line-height: 36px;
    color: black;
    text-align: center;
    padding-bottom: 20px;
    border-bottom: 1px solid #c3c2c7;
}

.bannerGroup {
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
}

.bannerDetail {
    width: 100%;
    /*height: 100%;*/
    background: url("../img/bannerBg.png") no-repeat 0 0 #5664e5;
    background-size: 100%;
    /*position: relative;*/
    padding-top: 47%;
    padding-bottom: 20px;
}

.activityDetail {
    width: calc(100% - 74px);
    background: #424fcb;
    padding: 10px 16px;
    line-height: 27px;
    font-size: 14px;
    color: #ffffff;
    margin: 0 auto;
    /*position: absolute;*/
    /*top: 26%;*/
    /*left: 21px;*/
}

.activityImg {
    display: block;
    width: calc(100% - 42px);
    margin: 0 21px;
    padding: 0;
}

.activityBtn {
    display: block;
    width: 238px;
    height: 45px;
    line-height: 45px;
    border-radius: 22px;
    font-size: 18px;
    color: #ffffff;
    background: #6481f9;
    margin: 20px auto;
    text-align: center;
}

.activityLink {
    display: block;
    width: 100%;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
}

.activityLink:hover, .activityLink:focus {
    color: #ffffff;
    text-decoration: none;
}
.showArticle{
    height: 100%;
    background: #ffffff;
}