.slider {
    height: 100%;
}

.slider-slide {
    color: #000;
    background-color: #fff;
    text-align: center;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
}

.slider-pager {
    z-index: -100;
}

.box {
    height: 100%;
}

.box h1 {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

/*scb-1*/
.scb-bg {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding-top: 40%;
    background: url("../img/h5/scb/bg.png");
    background-size: cover;
}

.scb-logo-contain {
    width: 100%;
    height: 85px;
    margin-bottom: 22px;
}

.scb-logo {
    width: 199px;
    height: 85px;
    margin: 0 auto;
    background: url("../img/h5/scb/scb.png");
    background-size: contain;
}

.from-left {
    animation: fromLeft 2s;
    -moz-animation: fromLeft 2s; /* Firefox */
    -webkit-animation: fromLeft 2s; /* Safari and Chrome */
    -o-animation: fromLeft 2s; /* Opera */
}

@keyframes fromLeft {
    from {
        margin-left: -100%
    }
    to {
        margin-left: 0
    }
}

@-moz-keyframes fromLeft /* Firefox */
{
    from {
        margin-left: -100%
    }
    to {
        margin-left: 0
    }
}

@-webkit-keyframes fromLeft /* Safari and Chrome */
{
    from {
        margin-left: -100%
    }
    to {
        margin-left: 0
    }
}

@-o-keyframes fromLeft /* Opera */
{
    from {
        margin-left: -100%
    }
    to {
        margin-left: 0
    }
}

.from-right {
    animation: fromRight 2s;
    -moz-animation: fromRight 2s; /* Firefox */
    -webkit-animation: fromRight 2s; /* Safari and Chrome */
    -o-animation: fromRight 2s; /* Opera */
}

@keyframes fromRight {
    from {
        margin-left: 100%
    }
    to {
        margin-left: 0
    }
}

@-moz-keyframes fromRight /* Firefox */
{
    from {
        margin-left: 100%
    }
    to {
        margin-left: 0
    }
}

@-webkit-keyframes fromRight /* Safari and Chrome */
{
    from {
        margin-left: 100%
    }
    to {
        margin-left: 0
    }
}

@-o-keyframes fromRight /* Opera */
{
    from {
        margin-left: 100%
    }
    to {
        margin-left: 0
    }
}

.from-light {
    animation: fromLight 1s infinite;
    -moz-animation: fromLight 1s infinite; /* Firefox */
    -webkit-animation: fromLight 1s infinite; /* Safari and Chrome */
    -o-animation: fromLight 1s infinite; /* Opera */
}

@keyframes fromLight {
    from {
        opacity: 1
    }
    to {
        opacity: 0
    }
}

@-moz-keyframes fromLight /* Firefox */
{
    from {
        opacity: 1
    }
    to {
        opacity: 0
    }
}

@-webkit-keyframes fromLight /* Safari 和 Chrome */
{
    from {
        opacity: 1
    }
    to {
        opacity: 0
    }
}

@-o-keyframes fromLight /* Opera */
{
    from {
        opacity: 1
    }
    to {
        opacity: 0
    }
}

.from-dark {
    animation: fromDark 1s infinite;
    -moz-animation: fromDark 1s infinite; /* Firefox */
    -webkit-animation: fromDark 1s infinite; /* Safari and Chrome */
    -o-animation: fromDark 1s infinite; /* Opera */
}

@keyframes fromDark {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

@-moz-keyframes fromDark /* Firefox */
{
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

@-webkit-keyframes fromDark /* Safari 和 Chrome */
{
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

@-o-keyframes fromDark /* Opera */
{
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}
.scb-title {
    width: 100%;
    height: 76px;
    background: url("../img/h5/scb/one_px.png");
    background-size: contain;
    line-height: 76px;
    font-size: 28px;
    color: #ffffff;
    text-align: center;
}

.scb-summary {
    width: 100%;
    height: 40px;
    line-height: 40px;
    color: #fff;
    font-size: 16px;
    text-align: center;
}

.scb-summary span {
    padding: 0 5px;
}

.scb-arrow {
    /*display: inline-block;*/
    width: 8px;
    height: 16px;
    background: url("../img/h5/scb/arrow.png");
    background-size: cover;
    vertical-align: top;
    margin-top: 11px;
}

.scb-link {
    width: 100%;
    position: absolute;
    bottom: 0;
}

.scb-line {
    width: 100%;
    height: 6px;
    background: url("../img/h5/scb/one_px.png");
    background-size: contain;
}

/*scb-2*/
.scb-bg-white {
    width: 100%;
    height: 100%;
    background: #fff;
    overflow: auto;
}

.scb-logo-right {
    box-sizing: border-box;
    width: 100%;
    height: 75px;
    padding: 21px 20px 16px 0;
    text-align: right;
}

.scb-logo-right img {
    width: 90px;
    height: 38px;
}

.scb-img {
    width: 100%;
    height: 46%;
}

.scb-img-a2 {
    background: url("../img/h5/scb/a2.png");
    background-size: cover;
}

.scb-img-a3 {
    background: url("../img/h5/scb/a3.png");
    background-size: cover;
}

.scb-img-footer {
    width: 100%;
    height: 16px;
    background: url("../img/h5/scb/one_px.png");
    background-size: contain;
}

.scb-ul {
    padding: 8px 1px 58px 20px;
}

.scb-ul-title {
    box-sizing: border-box;
    width: 100%;
    height: 42px;
    line-height: 42px;
    font-size: 24px;
    color: #0072aa;
    text-align: left;
}

.scb-ul li {
    list-style: none;
    width: 100%;
    height: 27px;
    line-height: 27px;
    font-size: 14px;
    color: #666666;
    background: url("../img/h5/scb/bd.png") 0 8px no-repeat;
    background-size: 10px;
    text-indent: 20px;
    text-align: left;
}

.scb-footer {
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    padding: 5px 44px;
    background: url("../img/h5/scb/one_px.png");
    background-size: contain;
}

.text-right {
    text-align: right;
}