/*登录样式开始*/
.forget{
    font-size: 16px;
    margin-top: 10px;
    /*margin-bottom: 18px;*/
    position: absolute;
    right: 15px;
    line-height: 18px;
    cursor:pointer;
    color: #4c4c4c;
}
/*登录样式结束*/
/*register1样式开始*/
.regForm1{
    width:100%;
    font-size: 18px;
    position:relative;
    padding-top: 40px;
}
.Verification{
    box-sizing: border-box;
    width:100%;
    padding: 0 15px;
    border-bottom: 1px solid #e0e0e0;
    height:45px;
    background: #ffffff;
}
.newUser{
    display: inline-block;
    height:40px;
    margin-top: 20px;
    font-size: 16px;
    cursor:pointer;
    margin-left: -6px;
    color: #4c4c4c;
}
.phoneCode{
    box-sizing: border-box;
    width:100%;
    height:45px;
    font-size: 16px;
    border-bottom: 1px solid #e0e0e0;
    border-right: none;
    border-left: none;
    padding:4px 15px 0;
    border-radius: 0;
}
.verCode{
    height:39px;
    font-size: 16px;
    border: none;
    padding-top: 4px;
}
.verBtn{
    background:#ffffff;
    font-size:16px;
    line-height: 20px;
    padding-left: 15px;
    margin-top: 12px;
    border:none;
    color:#8898EB;
    display: inline-block;
    text-align: center;
    border-left: 1px solid #e0e0e0;
}
 .regRelease{
     width:60%;
     height:44px;
     font-size:20px;
     background:linear-gradient(45deg,#8898EB,#6045BB);
     border-radius: 26px;
     text-align: center;
     color: #fff;
     line-height: 38px;
     letter-spacing: 2px;
     box-shadow: 0 8px 8px #ccc;
     cursor:pointer;
     border:none;
     margin-left: 20%;
     margin-top: 18px;
}
.hideClass{
     width:60%;
     height:45px;
     font-size:20px;
     background:#ced5da;
     margin-left: 20%;
     margin-top: 18px;
     border-radius: 26px;
     text-align: center;
     color: #ffffff;
     line-height: 48px;
     letter-spacing: 2px;
     cursor:pointer;
     border:none;
 }
 .prompt{
     margin-top: 10px;
     height: 28px;
     /*width:50%;*/
     /*text-align: center;*/
     line-height: 18px;
     font-size: 16px;
     color:#f97383;
     margin-left:15px;

 }
/*register1样式结束*/