.user-center-list {
    height: 100%;
    background: #D3D5EA;
}

.user-center-work {
    height: 100%;
    background: #EAEFF3;
}
.userHeader{
    width:100%;
    height:122px;
    background:linear-gradient(30deg,#6B72DB,#766DC4);
}
.userDetail{
    width: 100%;
    height: 106px;
    background: #ffffff;
    /*margin-bottom: 8px;*/
    /*border-bottom: 1px solid #e0e0e0;*/
    /*box-shadow: 0px 1px 7px 0px rgba(0,0,0,0.1);*/
}
.userLogo{
    width:95px;
    height:106px;
    margin-top: -40px;
}
.userLogoPic{
    display: block;
    border-radius: 100%;
    width:70px;
    height:70px;
    margin: 0 auto;
    border: 4px solid #ffffff;
}
.userName{

    width:100%;
    font-size: 18px;
    line-height: 32px;
    color:#4c4c4c;
    padding-left: 20px;
}
.userPost{
    width:100%;
    font-size: 14px;
    color:#acacb8;
    padding-left: 20px;
}

.userCenterP {
    height: 45px;
    line-height: 45px;
    font-size: 14px;
    color: #acacb8;
    background: #f3f7fa;
    margin-bottom: 10px;
    padding-left: 15px;
}
.personMessage{
    width: 108px;
    height: 28px;
    line-height: 28px;
    margin: 10px 10px 10px 0;
    border: 1px solid #e0e0e0;
    border-radius: 15px;
    color: #acacb8;
    text-align: center;
    font-size: 14px;
}

.centerMessage {
    height: 28px;
    line-height: 28px;
    margin: 10px;
    border: 1px solid #e0e0e0;
    border-radius: 15px;
    color: #ffffff;
    text-align: center;
    font-size: 14px;
    padding: 0 8px;
    background: #f97383;
}

.center-search {
    width: 28px;
    height: 28px;
    margin-top: 10px;
    border: 1px solid #e0e0e0;
    border-radius: 15px;
    background: url("../img/icon/search.png") no-repeat 7px 7px;
    background-size: 14px;
}

.centerMessage img{
    vertical-align: middle;
    margin-right: 5px;
    width: 16px;
    height: 16px;
}

.centerMessageNo {
    width: 28px;
    height: 28px;
    line-height: 28px;
    margin: 10px;
    border: 1px solid #e2e2e2;
    border-radius: 15px;
    background: url("../img/icon/bell.png") no-repeat 6px;
    background-size: 16px;
}
.financing{
    width: 100%;
    height: calc(100% - 241px);
    height: -moz-calc(100% - 241px); /*chrome safari*/
    height: -webkit-calc(100% - 241px);/*Standard */
    border-top: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
    background: #ffffff;

}
.financing1{
    width: calc(100% - 30px);
    height: 113px;
    margin-left: 15px;
    border-radius: 5px;
    box-shadow: 0 1px 7px 0 rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;

}
.bg-apply-work {
    background: #EAEFF3;
    padding-bottom: 1px;
}

.bg-apply-my {
    background: #d3d5ea;
    padding-bottom: 1px;
}
.companyName{
    width: calc(100% - 30px);
    height: 45px;
    line-height: 45px;
    font-size: 16px;
    color: #4c4c4c;
    margin:0 15px 0 15px;
    border-bottom: .5px solid #e0e0e0;
}

.company-name-title {
    display: inline-block;
    width: calc(100% - 30px);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.companySetting{
    display: inline-block;
    width: 22px;
    height: 22px;
    float: right;
    margin-top: 11px;
    background: url("../img/settingBtn.png") no-repeat 4px 4px #938ae9;
    background-size: 14px;
    border-radius: 11px;
}

.companySetting1 {
    display: inline-block;
    width: 22px;
    height: 22px;
    float: right;
    margin-top: 11px;
    background: url("../img/settingBtn.png") no-repeat 4px 4px #e0e0e0;
    background-size: 14px;
    border-radius: 11px;
}

.companySetting2 {
    display: inline-block;
    width: 22px;
    height: 22px;
    float: right;
    margin-top: 11px;
    background: url("../img/setting4.png") no-repeat;
    background-size: 100%;
}
.financingTitle{
    height: 54px;
    line-height: 54px;
    width: 100px;
    margin-left: 20px;
    color: #4c4c4c;
    font-size: 14px;
}
.financingContent{
    position: relative;
    width: 100%;
    height: calc(100% - 54px);
    height: -moz-calc(100% - 54px); /*chrome safari*/
    height: -webkit-calc(100% - 54px);/*Standard */
}
.financingContent1{
    position: absolute;
    width: 100%;
    height: 164px;
    top: 50%;
    left: 50%;
    margin: -90px 0 0 -50%;
}
.financialPic{
    background: url("../img/zrh.png") no-repeat -454px -33px;
    width: 68px;
    height: 100px;
    margin: 0 auto;
}
.financialText{
    width: 180px;
    margin: 10px auto;
    font-size: 14px;
    text-align: center;
    color:#acacb8;
    line-height: 22px;
}
.progress{
    width: 100%;
    height: 6px;
    border-radius: 3px;
    background:#f0f0f0;

}

.financial3 {
    width: calc(100% - 30px);
    height: 58px;
    margin: 4px 15px;
}

.financialLeft {
    width: calc(100% - 135px);
    height: 58px;
    margin: 4px 15px;
}

.singleButtonMin {
    height: 30px;
    font-size: 14px;
    background: linear-gradient(45deg, #6B72DB, #766DC4);
    background: -webkit-linear-gradient(45deg, #6B72DB, #766DC4);
    margin-right: 15px;
    margin-top: 18px;
    padding: 0 15px;
    border-radius: 16px;
    text-align: center;
    color: #fff;
    line-height: 30px;
    cursor: pointer;
    border: none;
}

.scroll-div {
    position: relative;
    height: 30px;
    font-size: 14px;
    background: linear-gradient(45deg, #6B72DB, #766DC4);
    background: -webkit-linear-gradient(45deg, #6B72DB, #766DC4);
    margin-right: 15px;
    margin-top: 18px;
    padding: 0 15px;
    border-radius: 16px;
    text-align: center;
    color: #fff;
    line-height: 30px;
    cursor: pointer;
    border: none;
}

.scroll-div-cover {
    position: absolute;
    display: inline-block;
    top: 0;
    left: 0;
    width: 100%;
    height: 30px;
    border-radius: 16px;
    background-color: rgba(0, 0, 0, 0);
    z-index: -1;
}

.scroll-div-cover input {
    display: inline-block;
    width: 100%;
    height: 30px;
    border-radius: 16px;
    background-color: rgba(0, 0, 0, 0);
    text-align: center;
    color: #4c4c4c;
}

.singleButtonMinWrite {
    height: 28px;
    font-size: 14px;
    background: #ffffff;
    margin-right: 15px;
    margin-top: 18px;
    padding: 0 14px;
    border-radius: 16px;
    text-align: center;
    color: #acacb8;
    line-height: 28px;
    cursor: pointer;
    border: 1px solid #e6e6e6;
}
.singleButtonMinGrew {
    width: 76px;
    height: 30px;
    font-size: 14px;
    background: #e0e0e0;
    margin-right: 15px;
    margin-top: 18px;
    padding: 0 15px;
    border-radius: 16px;
    text-align: center;
    color: #acacb8;
    line-height: 30px;
    cursor: pointer;
    border: none;
}
.progress1 {
    width: 100%;
    height: 6px;
    border-radius: 3px;
    background: #f0f0f0;
    /*margin: 18px 0 0 15px;*/

}

.progress span, .progress1 span {
    display: block;
    width: 0;
    height: 100%;
    text-align: center;
    color: #FFF;
    font-size: 13px;
}

.progressChild{
    width:90%;
    height: 6px;
    background: #f97383;
    border-radius: 3px;
    z-index: 3;
    position: relative;
}
.myTriangle{
    display: inline-block;
    border-top: 8px solid #f97383;
    border-left:  6px solid transparent;
    border-right:  6px solid transparent;
    position: relative;
    top: -21px;
    z-index: 2;
}
.progressTittle{
    width: 100%;
    display: inline-block;
    height: 34px;
    line-height: 34px;
    font-size:14px;
    color:#f97383;
}

.receive-message {
    display: inline-block;
    padding: 15px 0 15px 15px;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    color: #acacb8;
}
.progressTittle1{
    position: relative;
    top: -5px;
    display: inline-block;
    height: 45px;
    line-height: 45px;
    font-size:14px;
    color:#acacb8;
}

.alert {
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 2px;
}

.alert-common {
    position: fixed;
    bottom: 190px;
    left: 0;
    width: 100%;
    background: #ffffff;
}

.alert-btn-container {
    box-sizing: border-box;
    position: absolute;
    left: 0;
    top: -12px;
    width: 100%;
    height: 20px;
    text-align: right;
    padding: 0 15px;
    background: #f7f7f7;
    z-index: 1000;
}

.alert-btn-container button {
    padding: 5px 10px;
    background: #f7f7f7;
    font-size: 16px;
}
.alertContent {
    padding-bottom: 15px;
    position: relative;
    top: 50%;
    left: 50%;
    width: 90%;
    margin: -100px 0 0 -45%;
    background: #ffffff;
}
/*设置页面样式开始*/
.userSet{
    height:45px;
    line-height: 45px;
    border-bottom: 1px solid #e6e6e6;
    font-size: 16px;
    color:#4c4c4c;
    padding-left: 15px;
    padding-right: 15px;
    background: #ffffff;
    vertical-align:middle;
}
.userSetSpan{
    display: inline-block;
    height: 48px;
    line-height: 48px;
    /*margin-left:15px;*/
    color: #4c4c4c;
}
.userSetIcon{
    height: 45px;
    float: right;
    line-height: 45px;
}
.userSetImg{
    margin-top: 2px;
    float: right;
    display: inline-block;
    color: #9695a7;
    height: 40px;
    line-height: 40px;
    border-radius: 100%;
    overflow: hidden;
}
.userSetImg img{
    width:40px;
    height:auto;
}
.userSetContent{
    float: right;
    margin-right: 10px;
    display: inline-block;
    color: #9695a7;
    height: 45px;
    line-height: 45px;
}
.userSetContent1{
    float: right;
    display: inline-block;
    color: #9695a7;
    height: 45px;
    line-height: 45px;
}
.userSetOut{
    width:68%;
    height:43px;
    border:1px solid #e6e6e6;
    border-radius: 20px;
    text-align: center;
    line-height:42px;
    font-size: 16px;
    margin: 30px auto;
    color:#888888;
    background: #ffffff;
}
.cancelAlert{
    display: none;
    padding-top: 20px;
    width: 68%;
    height: 136px;
    position: absolute;
    top: 120px;
    left: 16%;
    z-index: 100;
    border-radius: 5px;border: 1px solid #e0e0e0;
    background: #eaeaec;
}
.cancelButton{
    box-sizing: border-box;
    float: left;
    width: 50%;
    height: 43px;
    line-height: 43px;
    font-size: 18px;
    color: #209aff;
    text-align: center;
    border-right: 1px solid #c3c2c7;
}
.coverAlert {
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    background: #888888;
    top: 0;
    left: 0;
    z-index: 2;
    opacity: 0.7;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
}

.applyDetail {
    box-sizing: border-box;
    width: 100%;
    border-bottom: 1px solid #e6e6e6;
    padding: 9px 15px;
    background: #ffffff;
}

.detailTitle {
    height: 26px;
    font-size: 14px;
    line-height: 26px;
    color: #a3a3b3;
}

.applyDetailImg {
    width: 40px;
    height: 40px;
    margin: 10px 5px;
}

.detailContent {
    /*height: 26px;*/
    font-size: 14px;
    line-height: 26px;
    color: #6d6d6d;
}

.ringUp {
    height: 60px;
    width: 100%;
    background: #ffffff;
    position: fixed;
    bottom: 0;
    box-shadow: 0px -2px 7px 0px rgba(0, 0, 0, 0.1);
}

.phoneImg {
    width: 60px;
    height: 60px;
}

.detailBtn {
    width: 103px;
    height: 60px;
    display: inline-block;
    background: #868ee3;
    color: #ffffff;
    line-height: 60px;
    font-size: 16px;
    text-align: center;
}
.detailBtnGrew {
    width: 103px;
    height: 60px;
    display: inline-block;
    background: #e0e0e0;
    color: #acacb8;
    line-height: 60px;
    font-size: 16px;
    text-align: center;
}
.detailTextProgress {
    width: 56px;
    height: 60px;
    display: inline-block;
    color: #888888;
    line-height: 60px;
    font-size: 14px;
    text-align: center;
    padding-left: 15px;
}

.progressDetail {
    width: calc(100% - 174px);
    height: 60px;
    padding: 25px 15px;
    box-sizing: border-box;
}
/*设置页面样式结束*/

/*message*/
.messageList {
    height: 88px;
    border-bottom: 1px solid #eaeaea;
    padding-left: 15px;
    background: #ffffff;
}

.messageTitle {
    padding-top: 15px;
}

.messageTitle img {
    width: 23px;
    height: 23px;
    vertical-align: middle;
}

.messageTitleDiv {
    display: inline-block;
    font-size: 16px;
    padding-left: 3px;
    color: #F97383;
}

.messageTitleDiv1 {
    color: #535353;
}

.messageContent {
    font-size: 14px;
    color: #9292A5;
}

.font-size-14 {
    font-size: 14px;
}

.meg-red {
    color: #F97383;
}

.alert-input {
    width: 100px;
    text-align: right;
    margin-right: 10px;
    font-size: 14px;
}

.alert-content {
    width: calc(100% - 15px);
    height: 80px;
}

.alert-content textarea {
    width: 100%;
    line-height: 20px;
    font-size: 14px;
    resize: none;
}

.select-scroll {
    background-color: rgba(0 0 0 0);
}

.dw-inline .dw {
    position: static;
    display: block;
    width: 100%;
    max-width: 100%;
}

.dw-inline {
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
}

.dw-i {
    text-align: center
}

.mbsc-ios .dw-li {
    font-size: 18px;
}
.mbsc-ios .dwo {
    background: rgba(0, 0, 0, 0)
}

.dwc {
    width: calc(100% - 30px);
}

/*search*/
.search-box {
    background: #fff;
    width: 100%;
    height: 100%;
    padding: 10px 0;
}

.search-inner {
    width: 100%;
    padding: 0 15px;
}

.search-head {
    width: calc(100% - 45px);
    height: 30px;
    border-radius: 15px;
    background: #eaeff3;
}

.search-head img {
    width: 14px;
    height: 14px;
    margin: 8px 0 8px 8px;
}

.search-head input {
    vertical-align: top;
    width: 200px;
    height: 30px;
    line-height: 16px;
    padding: 6px 0;
    font-size: 14px;
    background: none;
    color: #4c4c4c;
}

.search-btn {
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    color: #9293a7;
}

.search-list {
    margin-top: 12px;
    height: calc(100% - 32px);
    overflow: auto;
}

.search-list li {
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: inherit;
    padding: 0 15px;
    line-height: 44px;
    height: 45px;
    border-bottom: 1px solid #e0e0e0;
    color: #4c4c4c;
    font-size: 14px;
}

.search-list li:active {
    background: #f3f3f3;
}

.fakeloader {
    position: fixed;
    width: 100%;
    height: 100px;
    top: 30%;
    left: 0;
    z-index: 999;
}

.float-left {
    position: absolute;
    left: calc(50% - 45px);
    top: calc(50% - 15px);
}

.spinner7 {
    width: 90px;
    height: 30px;
    text-align: center;
}

.spinner7 > div {
    background-color: #7069CF;
    height: 15px;
    width: 15px;
    margin-left: 3px;
    border-radius: 50%;
    display: inline-block;

    -webkit-animation: stretchdelay 0.7s infinite ease-in-out;
    animation: stretchdelay 0.7s infinite ease-in-out;
}

.spinner7 .circ2 {
    -webkit-animation-delay: -0.6s;
    animation-delay: -0.6s;
}

.spinner7 .circ3 {
    -webkit-animation-delay: -0.5s;
    animation-delay: -0.5s;
}

.spinner7 .circ4 {
    -webkit-animation-delay: -0.4s;
    animation-delay: -0.4s;
}

.spinner7 .circ5 {
    -webkit-animation-delay: -0.3s;
    animation-delay: -0.3s;
}

@-webkit-keyframes stretchdelay {
    0%, 40%, 100% {
        -webkit-transform: translateY(-10px)
    }
    20% {
        -webkit-transform: translateY(-20px)
    }
}

@keyframes stretchdelay {
    0%, 40%, 100% {
        transform: translateY(-10px);
        -webkit-transform: translateY(-10px);
    }
    20% {
        transform: translateY(-20px);
        -webkit-transform: translateY(-20px);
    }
}

/*loading*/
#carousel, #carousel > ul, #carousel > ul > li {
    height: 100%;
    position: relative;
}

#carousel {
    background: silver;
    overflow: hidden;
    width: 100%;
    /* backface-visibility 的意思是在对元素进行变换时，如果元素的“正面”看不到了（比如使用 rotate 时），那么就隐藏整个元素
       这在处理flip这样的翻转特效时有用。 */
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;

    transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
    -webkit-transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
    /* preserve-3d 指定元素的子元素应该在3D空间中进行定位 */
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
}

/* 增加一个额外的动画样式，在切换版面时使用
   使用CSS动画能在移动设备中获得比较好的性能 */
#carousel > ul.animate {
    transition: all .3s;
}

#carousel > ul {
    transform: translate3d(0%, 0, 0) scale3d(1, 1, 1);
    -webkit-transform: translate3d(0%, 0, 0) scale3d(1, 1, 1);
    overflow: hidden;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;

    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
}

#carousel > ul {
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 0 20px rgba(0, 0, 0, .2);
    box-shadow: 0 0 20px rgba(0, 0, 0, .2);
    position: relative;
}

#carousel > ul > li {
    float: left;
    overflow: hidden;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
