.userHeader{
    width:100%;
    height:122px;
    background:linear-gradient(to bottom,#8898EB,#6045BB);
    border-bottom:1px solid #b7b8e8;
    border-top:1px solid #b7b8e8;
}
.userDetail{
    width: 100%;
    height: 106px;
    background: #ffffff;
    margin-bottom: 8px;
    border-bottom: 1px solid #e0e0e0;
}
.userLogo{
    width:95px;
    height:106px;
    margin-top: -40px;
}
.userLogoPic{
    display: block;
    border-radius: 100%;
    width:75px;
    height:75px;
    margin: 0 auto;
}
.userName{

    width:100%;
    font-size: 18px;
    line-height: 32px;
    color:#4c4c4c;
    padding-left: 20px;
}
.userPost{
    width:100%;
    font-size: 14px;
    /*line-height: 32px;*/
    color:#acacb8;
    padding-left: 20px;
}
.personMessage{
    width: 108px;
    height: 30px;
    line-height: 30px;
    margin: 10px;
    border: 1px solid #e0e0e0;
    border-radius: 15px;
    color: #acacb8;
    text-align: center;
    font-size: 14px;
}
.financing{
    width: 100%;
    height: calc(100% - 241px);
    height: -moz-calc(100% - 241px); /*chrome safari*/
    height: -webkit-calc(100% - 241px);/*Standard */
    border-top: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
    background: #ffffff;

}
.financing1{
    width: 100%;
    border-top: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
    background: #ffffff;
    margin-bottom: 10px;

}
.companyName{
    width: calc(100% - 20px);
    height: 38px;
    line-height: 38px;
    font-size: 18px;
    color: #4c4c4c;
    padding:10px;
    text-indent: 10px;
    border-bottom: 1px solid #e0e0e0;
}
.companySetting{
    display: inline-block;
    width: 22px;
    height: 22px;
    float: right;
    /*margin-right: 20px;*/
    background: url("../img/icon/setup.png")no-repeat;
    background-size: 100%;
}
.financingTitle{
    height: 54px;
    line-height: 54px;
    width: 100px;
    margin-left: 20px;
    color: #4c4c4c;
    font-size: 14px;
}
.financingContent{
    position: relative;
    width: 100%;
    height: calc(100% - 54px);
    height: -moz-calc(100% - 54px); /*chrome safari*/
    height: -webkit-calc(100% - 54px);/*Standard */
}
.financingContent1{
    position: absolute;
    width: 100%;
    height: 164px;
    top: 50%;
    left: 50%;
    margin: -90px 0 0 -50%;
}
.financialPic{
    background: url("../img/zrh.png") no-repeat -454px -33px;
    width: 68px;
    height: 100px;
    margin: 0 auto;
}
.financialText{
    width: 180px;
    margin: 10px auto;
    font-size: 14px;
    text-align: center;
    color:#acacb8;
    line-height: 22px;
}
.progress{
    width:90%;
    height:10px;
    border-radius: 10px;
    background:#f0f0f0;
    margin: 18px auto 0;

}
.progress span{
    display: block;
    width: 0;
    height: 100%;
    text-align: center;
    color: #FFF;
    font-size: 13px;}

.progressChild{
    width:90%;
    height:10px;
    background: #f97383;
    border-radius: 10px;
    z-index: 3;
    position: relative;
}
.myTriangle{
    display: inline-block;
    border-top: 10px solid #f97383;
    border-left:  5px solid transparent;
    border-right:  5px solid transparent;
    position: relative;
    top: -20px;
    z-index: 2;
}
.progressTittle{
    position: relative;
    top: -5px;
    display: inline-block;
    height: 45px;
    line-height: 45px;
    font-size:14px;
    color:#f97383;
}
.progressTittle1{
    position: relative;
    top: -5px;
    display: inline-block;
    height: 45px;
    line-height: 45px;
    font-size:14px;
    color:#acacb8;
}
/*设置页面样式开始*/
.userSet{
    height:45px;
    line-height: 45px;
    border-bottom: 1px solid #e6e6e6;
    font-size: 16px;
    color:#4c4c4c;
    padding-left: 15px;
    padding-right: 15px;
    background: #ffffff;
    vertical-align:middle;

}
.userSetSpan{
    display: inline-block;
    height: 56px;
    line-height: 56px;
    margin-left:15px;
    color: #4c4c4c;
}

.userSet img{
    border-radius: 100%;
    margin-top: 2px;
    width:40px;
    height:40px;
    float: right;
}
.userSetIcon{
    height: 45px;
    float: right;
    line-height: 45px;
}
.userSetContent{
    float: right;
    margin-right: 10px;
    display: inline-block;
    color: #9695a7;
    height: 45px;
    line-height: 45px;
}
.userSetOut{
    width:68%;
    height:43px;
    border:1px solid #e6e6e6;
    border-radius: 20px;
    text-align: center;
    line-height:42px;
    font-size: 16px;
    margin: 30px auto;
    color:#888888;
    background: #ffffff;
}
.cancelAlert{
    display: none;
    padding-top: 20px;
    width: 68%;
    height: 136px;
    position: absolute;
    top: 120px;
    left: 16%;
    z-index: 100;
    border-radius: 5px;border: 1px solid #e0e0e0;
    background: #eaeaec;
}
.cancelButton{
    box-sizing: border-box;
    float: left;
    width: 50%;
    height: 43px;
    line-height: 43px;
    font-size: 18px;
    color: #209aff;
    text-align: center;
    border-right: 1px solid #c3c2c7;
}
.coverAlert {
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    background: #888888;
    top: 0;
    left: 0;
    z-index: 2;
    opacity: 0.7;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
}
/*设置页面样式结束*/
