<div class="scb-bg scb-animation" on-swipe-left="onSwipeLeft()" ng-show="show == 1">
    <div class="scb-logo-contain">
        <div class="scb-logo"></div>
    </div>
    <div class="scb-title">信用贷款特快列车</div>
    <div class="scb-summary">
        <span>申请快</span>
        <span>审批快</span>
        <span>放款快</span>
    </div>
    <div class="scb-link">
        <div class="scb-summary" ng-click="show = 2">
            <span>马上开车</span>
            <span class="scb-arrow"></span>
        </div>
        <div class="scb-line"></div>
    </div>
</div>
<div class="scb-bg-white scb-animation" on-swipe-left="onSwipeLeft()" on-swipe-right="onSwipeRight()"
     ng-show="show == 2">
    <div class="scb-logo-right">
        <img src="./img/h5/scb/scb.png">
    </div>
    <div class="scb-img-a2 scb-img"></div>
    <div class="scb-img-footer"></div>
    <ul class="scb-ul">
        <p class="scb-ul-title">企业流动资金贷</p>
        <li>无需财产担保，纯信用；</li>
        <li>手续简单，审批速度，放款及时；</li>
        <li>1-3年灵活选择贷款期限；</li>
        <li>10-150万年灵活选择贷款期限。</li>
    </ul>
    <div class="scb-footer">
        <div class="scb-summary text-right" ng-click="applyCompany()">
            <span>立即申请</span>
            <span class="scb-arrow"></span>
        </div>
    </div>
</div>
<div class="scb-bg-white scb-animation" on-swipe-right="onSwipeRight()" ng-show="show == 3">
    <div class="scb-logo-right">
        <img src="./img/h5/scb/scb.png">
    </div>
    <div class="scb-img scb-img-a3"></div>
    <div class="scb-img-footer"></div>
    <ul class="scb-ul">
        <p class="scb-ul-title">个人信用贷</p>
        <li>有超过3个月4600以上打卡工资流水即可做；</li>
        <li>无需交社保公积金，只需工资交税即可；</li>
        <li>户口不收限制，福建人可做；</li>
        <li>征信宽松；</li>
        <li>私密性强，只打客户本人核实信息；</li>
        <li>灵活的贷款期限（1=5年），可提前还款。</li>
    </ul>
    <div class="scb-footer">
        <div class="scb-summary text-right" ng-click="applyPerson()">
            <span>立即申请</span>
            <span class="scb-arrow"></span>
        </div>
    </div>
</div>