<div class="articleList">
    <div class="article" ng-repeat="resultObj in result_list" ng-click="article_show(resultObj.id)">
        <div class="articleTittle">{{resultObj.name}}</div>
        <div class="articleTittle1"><img ng-src="{{resultObj.icon}}" alt=""> {{resultObj.bankname}}</div>
        <div class="expect clear">
            <div class="expect_border">
                <p> {{resultObj.ratecap | number:0}}<span>%一</span>{{resultObj.ratefloor | number:0}}<span>%</span></p>
                <span>利息率</span>
            </div>
            <div class="expect_border borderLine">
                <p>{{resultObj.loanvalue}}<span>万</span></p>
                <span>贷款额度</span>
            </div>
            <div class="expect_border">
                <p>{{resultObj.loanlife}}<span>年</span></p>
                <span>贷款期限</span>
            </div>
        </div>
    </div>
</div>