<div class="articleList">
    <img src="img/banner.jpg" class="bannerGroup" ng-click="detailActivity()">
    <div class="productList" ng-repeat="resultObj in result_list" ng-click="article_show(resultObj,resultObj.id)">
        <div class="productLeft fl">
            <img ng-src="{{resultObj.icon}}" alt="">
        </div>
        <div class="productCenter fl">
            <p class="productP1">
                <span>{{resultObj.bankname}}</span>-
                <span>{{resultObj.name}}</span>
            </p>
            <p class="productP2">
                <span>{{resultObj.loanvalue}}</span>
                <span ng-show="resultObj.loanvalue && resultObj.loanlife">/</span>
                <span>期限{{resultObj.loanlife}}</span>
            </p>
            <p class="productP3">
                <span ng-show="resultObj.tags[0]" class="productSpan1">{{resultObj.tags[0]}}</span>
                <span ng-show="resultObj.tags[1]" class="productSpan2">{{resultObj.tags[1]}}</span>
                <span ng-show="resultObj.tags[2]" class="productSpan3">{{resultObj.tags[2]}}</span>
            </p>
        </div>
        <div class="productRight fl">
            <p>利息 <span style="color: #fa697a;font-size: 18px">{{resultObj.rate |number:0}}</span>%</p>
            <p><span style="color: #acacba">{{resultObj.rateRemark}}</span></p>
        </div>
    </div>
</div>