<div class="showArticle">
    <div class="articleDetail">
        <div class="articleDetailTittle">{{article_detail.name}}</div>
        <div class="articleDetailTittle1"><img src="{{article_detail.icon}}" alt=""> {{article_detail.bankname}}</div>
        <div class="articleContents clear">
            <div class="articleContent" ng-hide="article_detail.ratefloor == null&&article_detail.ratecap == null">
                <p ng-show="article_detail.ratefloor != null&&article_detail.ratecap != null">{{article_detail.ratecap}}<span>%</span>一{{article_detail.ratefloor}}<span>%</span></p>
                <p ng-show="article_detail.ratefloor == null">{{article_detail.ratecap}}<span>%</span></p>
                <p ng-show="article_detail.ratecap == null">{{article_detail.ratefloor}}<span>%</span></p>
                <span>利息率</span>
            </div>
            <div class="articleContent borderLine1" ng-hide="article_detail.loanvalue == null">
                <p>{{article_detail.loanvalue}}<span>万</span></p>
                <span>贷款额度</span>
            </div>
            <div class="articleContent borderLine1" ng-hide="article_detail.loanlife == null">
                <p>{{article_detail.loanlife}}<span>年</span></p>
                <span>贷款期限</span>
            </div>
        </div>
    </div>
    <div class="productDefinitions" ng-hide="article_detail.summary == null">{{article_detail.summary}}</div>
    <div class="productFeature">
        <p>产品特色</p>
        <ul class="productFeatureList">
            <li ng-repeat="feature in feature_list track by $index">{{feature}}</li>
        </ul>
    </div>
    <div class="apply">
        <p>申请条件</p>
        <ul class="applyList">
            <li ng-repeat="apply in apply_List track by $index">{{apply}}</li>
        </ul>
    </div>
</div>
<button class="singleButtonFixed" ng-touchend="touchEnd()" ng-touchstart="touchStart()" ng-click="apply(id)">申请融资</button>
