<!--<div class="bannerDetail">-->
<!--<div class=""></div>-->
<!--<div class="activityDetail">直融号筹备千亿资金，投资城乡一体化建设，打造全国农产品物流小镇。-->
<!--中国农业联合投资控股有限公司和中华供销总社、外资出资。中国城乡统筹科学发展工程办公室负责项目前期初选工作。-->
<!--</div>-->
<!--<img src="img/city.png" class="activityImg">-->
<!--<div class="activityDetail">按照国家战略计划，现面向湖南、江苏、河北、贵州、广西、重庆、上海、宁夏、辽宁、吉林、黑龙江、-->
<!--天津、海南、广东、陕西、内蒙、新疆、河南、成都等省市，征选建立小60个农产品电子商务物流小镇。-->
<!--</div>-->
<!--<div><img src="img/country.png" class="activityImg"></div>-->
<!--<div class="activityDetail">1,项目内容三部分：大宗农产品电子商务批发物流园、冷链物流基地、农产品大数据商业综合体（含农业休闲旅游）-->
<!--<br/><br/>-->
<!--2,建设用地规模：500&#45;&#45;1500亩，另外可配套一些农业耕地，-->
<!--<br/><br/>-->
<!--3,投资额：每个小镇或基地投资20-50亿，地上建设项目由北京负责出资，土地指标和土地款由地方政府和企业负责，建成后由地方运营，中央财政资金支持并经营补贴-->
<!--<br/><br/>-->
<!--4,地方企业或政府报名截止8月底-->
<!--<br/><br/>-->
<!--5,基本程序：申报单位可以先发简单初选材料，先发申报项目和实施单位简介,初步规划方案或思路，经初步审查基本符合条件，再约定面谈或考察，落实后期规划、土地、政府立项与资金等工作-->
<!--<br/><br/>-->
<!--6,目前该项目已经在其他相关省市建立农产品电商物流基地，因此没有列名的省市，就是已经建好或已经落实启动该项目到对应省市了，这些省市大家就不要申报了，也不用来询问了-->
<!--<br/><br/>-->
<!--7,本项目是直投资金、项目落实资金到位前期没有费用，优先落地到熟悉的、有实力的、信誉好的、对口地方企业或政府。-->
<!--<br/><br/>-->
<!--</div>-->
<!--<button class="activityBtn" ng-click="apply(1)">点击申请</button>-->
<!--<a href="http://pdf.zhironghao.com/agriculture.pdf" class="activityLink">查看申请表</a>-->
<!--</div>-->