<div class="userHeader" xmlns="http://www.w3.org/1999/html"></div>
<div class="userDetail">
    <div class="userLogo fl">
        <img class="userLogoPic" ng-src="{{headImg || 'img/icon/photo.png'}}" alt="">
        <div class="userName">{{nickname || '默认'}}</div>
        <div class="userPost">{{position}}</div>
    </div>
    <div class="personMessage fr" ng-click="userDetail()">编辑个人信息</div>
    <div class="centerMessage fr" ng-show="role =='clerk'&&msgCount" ng-click="userMessage()"><img
            src="img/icon/BELL.png">{{msgCount}}
    </div>
    <div class="centerMessageNo fr" ng-show="role =='clerk'&&msgCount ==0" ng-click="userMessage()"></div>
</div>
<div ng-show="role == 'clerk'">
    <div class="financing" ng-hide="message">
        <div class="financingTitle">融资情况</div>
        <div class="financingContent">
            <div class="financingContent1">
                <div class="financialPic"></div>
                <div class="financialText">
                    您暂时没有申请融资，快到金融产品中看看
                </div>
            </div>
        </div>
    </div>
    <div ng-infinite-scroll options="options" ng-show="message_myList" items="items">
        <p class="userCenterP">我的任务</p>
        <div class="financing1" style="background:#ffffff" ng-repeat="resultObj in my_list"
             ng-hide="resultObj.status == -1" ng-click="my_apply(resultObj.id,0)">
            <div class="companyName">{{resultObj.companyName}} <span class="companySetting2"></span></div>
            <div class="financialLeft fl">
                <p class="progressTittle" ng-hide="resultObj.status == -1">
                    {{resultObj.progressText}} <span class="fr" ng-show="resultObj.days">预计{{resultObj.days}}天</span>
                </p>
                <div class="progress1">
                    <div class="progressChild" style="width:{{resultObj.jindu}}%;"></div>
                </div>
            </div>
            <div class="fr" ng-hide="resultObj.isOp ||resultObj.status ==4 " ng-click="change($event)">
                <button class="singleButtonMin fr" ng-hide=" days <0"
                        ng-click="alert_come(resultObj.status,resultObj.id,resultObj.days)">
                    {{resultObj.progressTextNext}}
                </button>
                <button class="singleButtonMin fr" ng-show=" days < 0"
                        ng-click="alert_come1(resultObj.status,resultObj.id,resultObj.days)">逾期原因
                </button>
            </div>
            <div class="fr" ng-show="resultObj.isOp ||resultObj.status ==4 " ng-click="change($event)">
                <button class="singleButtonMinGrew fr">{{resultObj.progressNext}}
                </button>
            </div>
        </div>
    </div>
    <div ng-infinite-scroll options="options" ng-show="message_list" items="items">
        <p class="userCenterP">我的申请</p>
        <div class="financing1" style=" background: #736fcd; color: #ffffff" ng-repeat="resultObj in result_list"
             ng-hide="resultObj.status == -1"
             ng-click="my_work(resultObj.id,1)">
            <div class="companyName" style="color: #ffffff">{{resultObj.companyName }} <span
                    class="companySetting"></span>
            </div>
            <div class="financial3">
                <p class="progressTittle" style="color: #ffffff" ng-hide="resultObj.status == -1">
                    {{resultObj.progressText}} <span class="fr" ng-show="resultObj.days">预计{{resultObj.days}}天</span>
                </p>
                <div class="progress">
                    <div class="progressChild" style="width:{{resultObj.jindu}}%;"></div>
                </div>
            </div>
            <!--<p class="progressTittle1" ng-show="resultObj.status == -1" style="left: {{resultObj.textPosition}}%;">{{resultObj.progressText}}</p>-->
        </div>
    </div>
</div>

<div ng-infinite-scroll options="options" ng-show="message && role =='register'" items="items">
    <p class="userCenterP">我的申请</p>
    <div class="financing1" style=" background: #ffffff;" ng-repeat="resultObj in result_list"
         ng-hide="resultObj.status == 0"
         ng-click="my_work(resultObj.id,1)">
        <div class="companyName">{{resultObj.companyName}} <span class="companySetting1"></span>
        </div>
        <div class="financial3">
            <p class="progressTittle" ng-hide="resultObj.status == 0">
                {{resultObj.progressText}} <span class="fr" ng-show="resultObj.days">预计{{resultObj.days}}天</span></p>
            <div class="progress">
                <div class="progressChild" style="width:{{resultObj.jindu}}%;"></div>
            </div>
        </div>
        <!--<p class="progressTittle1" ng-show="resultObj.status == -1" style="left: {{resultObj.textPosition}}%;">{{resultObj.progressText}}</p>-->
    </div>
</div>

<div class="alert" ng-show="alert == true" ng-click="closeAlert('father',$event)">
    <div class="alertContent" ng-click="change($event)">
        <div class="userSet">
            <span>{{alertText}}</span>
            <div class="fr">
                <input type="number" style="text-align: right;margin-right: 10px" placeholder="请输入天数"
                       ng-model="dateTime">天
            </div>
        </div>
        <div class="applyContent" style="height: 196px; margin-bottom: 15px">
            <p class="applyContentP" ng-class="{'fontColor':alertText1 != null &&alertText1 != ''}">{{alertText1}}</p>
            <textarea style="width: 100%; line-height: 20px; resize:none" type="text" rows="8"
                      placeholder="{{alertText2}}" ng-model="reason"></textarea>
        </div>
        <button class="singleButton1" ng-click="sure()">确定</button>
    </div>
</div>

<div class="alertCenterSubmit">
    <div class="alertImg1"></div>
    <p class="alertText">提交完成</p>
</div>