<div class="userHeader"></div>
<div class="userDetail">
    <div class="userLogo fl">
        <img class="userLogoPic" ng-src="{{headImg || 'img/icon/photo.png'}}" alt="">
        <div class="userName">{{nickname || '默认'}}</div>
        <div class="userPost">{{position}}</div>
    </div>
    <div class="personMessage fr" ng-click="userDetail()">编辑个人信息</div>
</div>
<div class="financing" ng-hide="message">
    <div class="financingTitle">融资情况</div>
    <div class="financingContent">
        <div class="financingContent1">
            <div class="financialPic"></div>
            <div class="financialText">
                您暂时没有申请融资，快到金融产品中看看
            </div>
        </div>
    </div>
</div>
<div ng-infinite-scroll options="options" ng-show="message" items="items">
    <p class="userCenterP">我的任务</p>
    <div class="financing1" style="color:#ffffff" ng-repeat="resultObj in my_list" ng-hide="resultObj.status == -1"
         ng-click="company_detail(resultObj.id)">
        <div class="companyName">{{resultObj.companyName}} <span class="companySetting"></span></div>
        <div class="progress">
            <div class="progressChild" style="width:{{resultObj.jindu}}%;"></div>
        </div>
        <div class="myTriangle" ng-show="resultObj.status !=-1" style="left:{{resultObj.triangle}}% "></div>
        <p class="progressTittle" ng-hide="resultObj.status == -1" style="left: {{resultObj.textPosition}}%;">
            {{resultObj.progressText}}</p>
    </div>
    <p class="userCenterP">我的申请</p>
    <div class="financing1" style=" background: #736fcd;" ng-repeat="resultObj in result_list"
         ng-hide="resultObj.status == -1"
         ng-click="company_detail(resultObj.id)">
        <div class="companyName">{{resultObj.companyName}} <span class="companySetting"></span></div>
        <div class="progress">
            <div class="progressChild" style="width:{{resultObj.jindu}}%;"></div>
        </div>
        <div class="myTriangle" ng-show="resultObj.status !=-1" style="left:{{resultObj.triangle}}% "></div>
        <p class="progressTittle" ng-hide="resultObj.status == -1" style="left: {{resultObj.textPosition}}%;">
            {{resultObj.progressText}}</p>
    <!--<p class="progressTittle1" ng-show="resultObj.status == -1" style="left: {{resultObj.textPosition}}%;">{{resultObj.progressText}}</p>-->
    </div>
</div>