<!--<div ng-hide="company.name =='八月活动'" class="productList" style="border: 1px solid #f3f3f3;">-->
<div ng-hide="company.name =='八月活动'" class="productList" style="border: 1px solid #f3f3f3;">
    <div class="productLeft fl">
        <img ng-src="{{company.icon}}" alt="">
    </div>
    <p class="productP1">
        <span>{{company.bankname}}</span>-
        <span>{{company.name}}</span>
    </p>
    <div class="productCenter clear">
        <p class="productP2 fl">
            <span>{{company.loanvalue}}</span>
            <span ng-show="company.loanvalue && company.loanlife">/</span>
            <span>{{company.loanlife}}</span>
        </p>
        <p class="productP4 fr">利息 <span style="color: #fa697a;font-size: 18px">{{company.rate}}</span>%</p>
    </div>
    <div class="productCenter">
        <p class="productP3 fl">
            <span ng-show="company.tags[0]" class="productSpan1">{{company.tags[0]}}</span>
            <span ng-show="company.tags[1]" class="productSpan2">{{company.tags[1]}}</span>
            <!--<span ng-show="company.tags[2]" class="productSpan3">{{resultObj.tags[2]}}</span>-->
        </p>
        <p class="productP3 fr" style="margin-right: 15px;margin-top: -1px"><span style="color: #acacba">{{company.rateRemark}}</span>
        </p>
    </div>
</div>
<img ng-show="company.name =='八月活动'"  src="img/banner.jpg" class="bannerGroup" ng-click="detailActivity()">
<div ng-show="choiceStyle == 0">
    <div class="applyDetail" ng-show="company_basic.baseInfo.company_name">
        <p class="detailTitle">企业名称</p>
        <p class="detailContent">{{company_basic.baseInfo.company_name}}</p>
    </div>
    <div class="applyDetail" ng-show="company_basic.baseInfo.business_type">
        <p class="detailTitle">企业类型</p>
        <p class="detailContent">{{company_basic.baseInfo.business_type}}</p>
    </div>
    <div class="applyDetail" ng-show="company_basic.baseInfo.legal_representative">
        <p class="detailTitle">法人代表</p>
        <p class="detailContent">{{company_basic.baseInfo.legal_representative}}</p>
    </div>
    <div class="applyDetail" ng-show="company_basic.baseInfo.register_date">
        <p class="detailTitle">成立时间</p>
        <p class="detailContent">{{company_basic.baseInfo.register_date}}</p>
    </div>
    <div class="applyDetail" ng-show="company_basic.baseInfo.business_address">
        <p class="detailTitle">注册地址</p>
        <div class="detailContent">{{company_basic.baseInfo.business_address}}</div>
    </div>
    <div class="applyDetail" ng-show="company_basic.baseInfo.registered_capital">
        <p class="detailTitle">注册资本</p>
        <p class="detailContent">{{company_basic.baseInfo.registered_capital}}</p>
    </div>
    <div class="applyDetail" ng-show="company_basic.baseInfo.item_category">
        <p class="detailTitle">所属行业</p>
        <p class="detailContent">{{company_basic.baseInfo.item_category}}</p>
    </div>
    <div class="applyDetail" ng-show="company_basic.baseInfo.registerMobile">
        <p class="detailTitle">联系电话</p>
        <p class="detailContent">{{company_basic.baseInfo.registerMobile}}</p>
    </div>
    <div class="applyDetail" ng-repeat="template in template_list">
        <p class="detailTitle">{{template.title}}</p>
        <div id="previewImage">
        <!--<a style="display: inline-block" ng-href="{{list}}" ng-show="template.templateType == 3"  ng-repeat="list in template.imgList track by $index">-->
            <img class="applyDetailImg" ng-click="previewImages(list,template.imgList)" ng-src="{{list}}" ng-show="template.templateType == 3"  ng-repeat="list in template.imgList track by $index">
        <!--</a>-->
        </div>
        <div class="detailContent">{{template.content}}</div>
    </div>
    <div class="ringUp fl">
        <div class="detailTextProgress fl">贷款进度</div>
        <div class="progressDetail fl">
            <div class="progress1">
                <div class="progressChild" style="width:{{company.jindu}}%;"></div>
            </div>
        </div>
        <div class="detailBtn" ng-click="alert_come(company.status,company.id,company.days)">{{progressTextNext}}</div>
    </div>
    <div class="alert" ng-show="alert == true" ng-click="closeAlert('father',$event)">
        <div class="alertContent" ng-click="change($event)">
            <div class="userSet">
                <span>{{alertText}}</span>
                <input type="number" style="text-align: right;margin-right: 10px" ng-model="dateTime">天
            </div>
            <div class="applyContent" style="height: 196px; margin-bottom: 15px">
                <p class="applyContentP" ng-class="{'fontColor':alertText1 != null &&alertText1 != ''}">
                    {{alertText1}}</p>
            <textarea style="width: 100%; line-height: 20px; resize:none" type="text" rows="8"
                      placeholder="{{alertText2}}" ng-model="reason"></textarea>
            </div>
            <button class="singleButton1" ng-click="sure()">确定</button>
        </div>
    </div>
</div>


<div ng-hide="choiceStyle == 0">
    <div class="userSet" style="border-top: 1px solid #e6e6e6;">
        <span class="userSetSpan">公司名称</span>
        <span class="userSetIcon"></span>
        <span class="userSetContent1">{{company.companyName}}</span>
    </div>
    <div class="userSet">
        <span class="userSetSpan">联系人</span>
        <span class="userSetIcon"></span>
        <span class="userSetContent1">{{company.linkman}}</span>
    </div>
    <div class="userSet">
        <span class="userSetSpan">手机号</span>
        <span class="userSetIcon"></span>
        <span class="userSetContent1">{{company.mobile}}</span>
    </div>
    <div class="userSetOut" ng-show="company.status == 1" ng-click="alertCancel()">取消申请</div>
    <div class="coverAlert"></div>
    <div class="cancelAlert">
        <p class="alertText" style="color: black">温馨提示</p>
        <p class="alertText2">您确定要取消本次申请吗？</p>
        <div class="cancelButton" ng-click="alertExit()">取消</div>
        <div class="cancelButton" ng-click="cancel()" style="border: none">确定</div>
    </div>
</div>