<div ng-hide="company.name =='八月活动'" class="productList">
    <div class="productLeft fl">
        <img ng-src="{{company.icon}}" alt="">
    </div>
    <div class="productRight fl">
        <p class="productP1">
            <span>{{company.bankname}}</span>-
            <span>{{company.name}}</span>
        </p>
        <div class="productCenter clear">
            <p class="productP2">
                <span>{{company.loanvalue}}</span>
                <span ng-show="company.loanvalue && company.loanlife">/</span>
                <span>{{company.loanlife}}</span>
            </p>
            <p class="productP4">利息 <span style="color: #fa697a;font-size: 18px">{{company.rate}}</span>%</p>
        </div>
        <div class="productCenter">
            <div class="productP3">
                <p ng-show="company.tags[0]" class="productSpan1">{{company.tags[0]}}</p>
                <p ng-show="company.tags[1]" class="productSpan2">{{company.tags[1]}}</p>
            </div>
            <p class="productP5">{{company.rateRemark}}</p>
        </div>
        <div class="img-person" ng-show="company.type == 2"></div>
    </div>

</div>
<img ng-show="company.name =='八月活动'" src="img/banner.jpg" class="bannerGroup" ng-click="detailActivity()">
<div ng-show="choiceStyle == 0">
    <div class="applyDetail" ng-show="company_basic.baseInfo.company_name">
        <p class="detailTitle">企业名称</p>
        <p class="detailContent">{{company_basic.baseInfo.company_name}}</p>
    </div>
    <div class="applyDetail" ng-show="company_basic.baseInfo.business_type">
        <p class="detailTitle">企业类型</p>
        <p class="detailContent">{{company_basic.baseInfo.business_type}}</p>
    </div>
    <div class="applyDetail" ng-show="company_basic.baseInfo.legal_representative">
        <p class="detailTitle">法人代表</p>
        <p class="detailContent">{{company_basic.baseInfo.legal_representative}}</p>
    </div>
    <div class="applyDetail" ng-show="company_basic.baseInfo.register_date">
        <p class="detailTitle">成立时间</p>
        <p class="detailContent">{{company_basic.baseInfo.register_date}}</p>
    </div>
    <div class="applyDetail" ng-show="company_basic.baseInfo.business_address">
        <p class="detailTitle">注册地址</p>
        <div class="detailContent">{{company_basic.baseInfo.business_address}}</div>
    </div>
    <div class="applyDetail" ng-show="company_basic.baseInfo.registered_capital">
        <p class="detailTitle">注册资本</p>
        <p class="detailContent">{{company_basic.baseInfo.registered_capital}}</p>
    </div>
    <div class="applyDetail" ng-show="company_basic.baseInfo.item_category">
        <p class="detailTitle">所属行业</p>
        <p class="detailContent">{{company_basic.baseInfo.item_category}}</p>
    </div>
    <div class="applyDetail" ng-show="company_basic.baseInfo.registerMobile">
        <p class="detailTitle">联系电话</p>
        <p class="detailContent">{{company_basic.baseInfo.registerMobile}}</p>
    </div>
    <div class="applyDetail" ng-show="showImg == true" ng-repeat="template in template_list">
        <p class="detailTitle">{{template.title}}</p>
        <div id="previewImage">
            <img class="applyDetailImg" ng-click="previewImages(list,template.imgList)" ng-src="{{list}}"
                 ng-show="template.templateType == 3" ng-repeat="list in template.imgList track by $index">
        </div>
        <div class="detailContent">{{template.content}}</div>
    </div>
    <div style="width: 100%;height: 60px" ng-show="company.receive == true">
        <div class="ringUp fl">
            <div class="detailTextProgress fl">贷款进度</div>
            <div class="progressDetail fl">
                <div class="progress1">
                    <div class="progressChild" style="width:{{company.jindu}}%;"></div>
                </div>
            </div>
            <div class="detailBtn" ng-hide="company.isOp == true || company.status == 7 || company.days < 0"
                 ng-click="alert_common(company.status,company.id)">{{progressTextNext}}
            </div>
            <div class="detailBtn" ng-show="company.isOp == false && company.status != 7 &&company.days < 0"
                 ng-click="alert_overdue(company.status,company.id,company.days)">{{progressTextNext}}
            </div>
            <div class="detailBtnGrew" ng-show="company.isOp == true || company.status == 7">{{company.progressNext ||
                company.progressText}}
            </div>
        </div>
        <div class="alert" ng-show="alert == true" ng-click="closeAlert('father',$event)">
            <div class="alert-common" ng-click="change($event)">
                <div class="scroll-div-cover">
                    <select ng-model="days" class="select-scroll" mobiscroll-select="settings">
                        <option value="0">请选择预计天数</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                    </select>
                </div>
                <div class="alert-btn-container">
                    <button class="fr" ng-click="submit_status()">确定</button>
                </div>
            </div>
        </div>
        <div class="alert" ng-show="alert_over == true" ng-click="closeAlert('father',$event)">
            <div class="alertContent" ng-click="change($event)">
                <div class="userSet">
                    <span class="font-size-14">{{alertText}}</span>
                    <span class="font-size-14 meg-red" ng-show="msg_red_see">{{msg_red}}</span>
                    <div class="fr font-size-14">
                        <input class="alert-input" type="number" placeholder="请输入天数" ng-model="days">天
                    </div>
                </div>
                <div class="applyContent alert-content">
                    <textarea type="text" rows="3" placeholder="{{alertText2}}" ng-model="reason"></textarea>
                </div>
                <button class="singleButton1" ng-click="submit_status()">确定</button>
            </div>
        </div>
    </div>
</div>

<div ng-hide="choiceStyle == 0">
    <div class="userSet" ng-show="company.companyName" style="border-top: 1px solid #e6e6e6;">
        <span class="userSetSpan">公司名称</span>
        <span class="userSetIcon"></span>
        <span class="userSetContent1">{{company.companyName}}</span>
    </div>
    <div class="userSet">
        <span class="userSetSpan">联系人</span>
        <span class="userSetIcon"></span>
        <span class="userSetContent1">{{company.linkman}}</span>
    </div>
    <div class="userSet">
        <span class="userSetSpan">手机号</span>
        <span class="userSetIcon"></span>
        <span class="userSetContent1">{{company.mobile}}</span>
    </div>
    <div class="userSetOut"
         ng-show="(company.status == 1 && company.op ==true) ||(company.status == 0 && company.op ==true)"
         ng-click="alertCancel()">取消申请
    </div>
    <div class="coverAlert"></div>
    <div class="cancelAlert">
        <p class="alertText" style="color: black">温馨提示</p>
        <p class="alertText2">您确定要取消本次申请吗？</p>
        <div class="cancelButton" ng-click="alertExit()">取消</div>
        <div class="cancelButton" ng-click="cancel()" style="border: none">确定</div>
    </div>
</div>