<div class="productList" style="border: 1px solid #f3f3f3;">
    <div class="productLeft fl">
        <img ng-src="{{company.icon}}" alt="">
    </div>
    <div class="productCenter fl">
        <p class="productP1">
            <span>{{company.bankname}}</span>-
            <span>{{company.name}}</span>
        </p>
        <p class="productP2">
            <span>{{company.loanvalue}}万</span>
            <span>期限{{company.loanlife}}年</span>
        </p>
        <p class="productP3">
            <span class="productSpan1">{{company.tags[0]}}</span>
            <span class="productSpan2">{{company.tags[1]}}</span>
            <span class="productSpan3">{{company.tags[2]}}</span>
        </p>
    </div>
    <div class="productRight fl">
        <p>利息 <span style="color: #fa697a;font-size: 18px">{{article_detail.rate}}</span>%</p>
        <p><span style="color: #acacba">{{article_detail.rateRemark}}</span></p>
    </div>
</div>
<div>
    <div class="userSet" style="border-top: 1px solid #e6e6e6;">
        <span class="userSetSpan">公司名称</span>
        <span class="userSetIcon"></span>
        <span class="userSetContent1">{{company.companyName}}</span>
    </div>
    <div class="userSet">
        <span class="userSetSpan">联系人</span>
        <span class="userSetIcon"></span>
        <span class="userSetContent1">{{company.linkman}}</span>
    </div>
    <div class="userSet">
        <span class="userSetSpan">手机号</span>
        <span class="userSetIcon"></span>
        <span class="userSetContent1">{{company.mobile}}</span>
    </div>
    <div class="userSetOut" ng-show="company.status == 1" ng-click="alertCancel()">取消申请</div>
    <div class="coverAlert"></div>
    <div class="cancelAlert">
        <p class="alertText" style="color: black">温馨提示</p>
        <p class="alertText2">您确定要取消本次申请吗？</p>
        <div class="cancelButton" ng-click="alertExit()">取消</div>
        <div class="cancelButton" ng-click="cancel()" style="border: none">确定</div>
    </div>
</div>